@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/WorkerUsers/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/WorkerUsers/Index.min.js" asp-append-version="true"></script>
    </environment>
}

<table id="dg" class="easyui-datagrid" toolbar="#tb" url="WorkerUsers/GridData"
        fit="true" fitColumns="true" rownumbers="true" singleSelect="true" striped="true" 
        pagination="true" pageSize="20">
    <thead>
        <tr>
            <th field="userName" width="80">用户名</th>
            <th field="name" width="80">显示名称</th>
            <th field="roleNames" width="80" sortable=true>角色</th>
            <th field="lastLoginTime" width="160">最后登录时间</th>
            <th field="creationTime" width="160">创建时间</th>
        </tr>
    </thead>
</table>
<div id="tb">
    <a name="reload" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload" plain="true">刷新</a>
    <a name="adds" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true">批量创建新用户</a>
    <a name="update" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true">更新用户</a>
    <a name="remove" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true">删除用户</a>
</div>
