@model Clc.Web.Models.Weixin.AskDoorViewModel
@{
    ViewBag.Title = "申请开门";
    Layout = "~/Views/Shared/_WeixinLayout.cshtml";
}

<form name="fm" action ="/WwApp01/AskDoor" method="post" onsubmit="onSubmit()">
    @Html.ValidationSummary()
    <div class="weui-cells">
        <div class="weui-cell weui-cell_select weui-cell_select-after">
            <div class="weui-cell__hd"><label class="weui-label">场地门:</label></div>
            <div class="weui-cell__bd">
                <select class="weui-select" name="workplaceId">
                @for (int i = 0; i < Model.Workplaces.Count; i++)
                {
                    <option value="@Model.Workplaces[i].Id">@Model.Workplaces[i].Name</option>
                }
                </select>
            </div>
        </div>
        <div class="weui-btn-area">
            <input type="submit" value="提交" class="weui-btn weui-btn_primary" />
        </div>
    </div>
</form>
