@section Scripts
{
    <environment names="Development">
        <script src="~/js/mds.js" asp-append-version="true"></script>
        <script src="~/view-resources/Views/PreRoutes/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/js/mds.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Views/PreRoutes/Index.min.js" asp-append-version="true"></script>
    </environment>

    <script type="text/javascript">
        mds.controllerName = 'PreRoutes';
        mds.masterInputName = 'preRouteId';
        // main
        mds.main = Object.assign({}, mds.dgDefault);
        mds.main.sortName = "startTime";
        mds.main.columns = [[
            { field: "routeName", title: "线路名称", width: 80, sortable: true },
            { field: "routeTypeName", title: "押运类型", width: 60 },
            { field: "vehicleCn", title: "车辆编号", width: 80 },
            { field: "vehicleLicense", title: "车牌号", width: 80 },
            { field: "startTime", title: "出发时间", width: 80, sortable: true },
            { field: "endTime", title: "返回时间", width: 80 },
            { field: "mileage", title: "预计里程", width: 80 },
            { field: "remark", title: "备注", width: 80 },
        ]];
        mds.main.insert = abp.services.app.preRoute.insert;
        mds.main.update = abp.services.app.preRoute.update;
        mds.main.delete = abp.services.app.preRoute.delete;

        // details
        var detail = Object.assign({}, mds.dgDefault);
        detail.postfix = "Worker";
        detail.columns = [[
            { field: "workRoleName", title: "工作角色", width: 80 },
            { field: "workerCn", title: "人员编号", width: 80 },
            { field: "workerName", title: "人员姓名", width: 80 },
            { field: "workRoleArticleTypeList", title: "所需领用物品", width: 80 },
        ]];
        detail.insert = abp.services.app.preRoute.insertWorker;
        detail.update = abp.services.app.preRoute.updateWorker;
        detail.delete = abp.services.app.preRoute.deleteWorker;
        mds.details.push(detail);

        detail = Object.assign({}, mds.dgDefault);
        detail.postfix = "Task";
        detail.sortName = "arriveTime";
        detail.columns = [[
            { field: "arriveTime", title: "到达时间", width: 80, sortable: true },
            { field: "outletCn", title: "网点编号", width: 80 },
            { field: "outletName", title: "网点名称", width: 100 },
            { field: "taskTypeName", title: "任务类型", width: 80 },
            { field: "remark", title: "备注", width: 80 },
        ]];
        detail.insert = abp.services.app.preRoute.insertTask;
        detail.update = abp.services.app.preRoute.updateTask;
        detail.delete = abp.services.app.preRoute.deleteTask;
        mds.details.push(detail);

        $('#workRole').combobox({
            onChange: function (val) {
                if (!val) return;
                abp.services.app.field.getWorkerItemsByWorkRole(val).done(function (data) {
                    $('#worker').combobox({ data: data, valueField: 'value', textField: 'displayText' });
                });
            }
        });
    </script>

    <script type="text/javascript">
        mds.initfunction = function () {
            setCurrentAgent();

            // comboBoxs
            abp.services.app.type.getComboItems('RouteType').done(function (data) {
                $('#routeType').combobox({
                    data: data, 
                    valueField: 'value', 
                    textField: 'displayText'
                });  
            });
            abp.services.app.field.getVehicleListItems().done(function (data) {
                $('#vehicle').combobox({
                    data: data, 
                    valueField: 'id', 
                    textField: 'cnLicense'
                });    
            });

            abp.services.app.field.getWorkerCacheItems().done(function (data) {
                $('#agent').combobox({ data: data, valueField: 'id', textField: 'cnNamePost' });               
            });

            abp.services.app.client.getComboItems('OutletWithCn').done(function (data) {
                $('#outlet').combobox({
                    data: data,
                    valueField: 'value',
                    textField: 'displayText'
                })
            });
            abp.services.app.type.getComboItems('TaskType').done(function (data) {
                $('#taskType').combobox({data: data,
                    valueField: 'value',
                    textField: 'displayText'
                })
            });
        }

        mds.onselectfunction = function (masterRow) {
            //alert("onselect" + masterRow.routeTypeId);
            abp.services.app.type.getRouteWorkRoleItems(masterRow.routeTypeId).done(function (data) {
                $('#workRole').combobox({
                    data: data, 
                    valueField: 'id', 
                    textField: 'name'
                });  
            });
        }

        mds.getUrl = function(postfix, masterRow) {
            if (postfix == '') return '';       // impossible

            var url = mds.controllerName + '/GridData' + postfix;
            if (masterRow == null)
                url += '/' + 0;          // clear datagrid!
            else
                url += '/' + masterRow.id;

            //alert(url);
            return url;
        }

        function setCurrentAgent()
        {
            abp.services.app.work.getAgentString().done(function (data) {
                $('#currentAgent').textbox('setValue', data);
            });
        }

        function setAgent() {
            abp.notify.info('请将指纹放到指纹仪上');
            var finger = window.parent.getFingerCode();
            if (finger != '') {
                abp.services.app.work.verifyFinger(finger, window.parent.me.workerCn).done(function(ret) {
                    if (ret.item1) {
                        var id = $('#agent').combobox('getValue')
                        abp.services.app.work.setAgent(id).done(function () {
                            setCurrentAgent();
                        });
                    }
                    else
                        abp.notify.error(ret.item2);
                });
            }
        }
        function resetAgent()
        {
            abp.services.app.work.resetAgent().done(function () {
                setCurrentAgent();
            });
        }
    </script>
}

<div class="easyui-layout" fit="true">
    <!-- BEGIN of main -->
    <div data-options="region:'north', split:true, border:false" style="min-height:120px; height:40%">
        <div id="tb">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="mds.reload('')">刷新</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="mds.add('')">添加</a>
            <span class="datagrid-btn-separator" style="vertical-align: middle;display:inline-block;float:none"></span>
            当前代理人：<input id='currentAgent' class="easyui-textbox" readonly style="width: 120px">
            <input id="agent" class="easyui-combobox" style="width: 200px">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" plain="true" onclick="setAgent()">设置代理人</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cut" plain="true" onclick="resetAgent()">取消代理人</a>
        </div>
        <table id="dg" class="easyui-datagrid" toolbar="#tb">
        </table>
    </div>
    <!-- END of main -->
    <div data-options="region:'center'">
       <div id="tt" class="easyui-tabs" data-options="fit:true, border:false">
            <div title="人员列表" style="display:none;">
                <div id="tbWorker">
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="mds.reload('Worker')">刷新</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="mds.add('Worker')">添加</a>
                </div>
                <table id="dgWorker" class="easyui-datagrid" toolbar="#tbWorker">
                </table>
            </div>
            <div title="任务列表" style="display:none;">
                <div id="tbTask">
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="mds.reload('Task')">刷新</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="mds.add('Task')">添加</a>
                </div>
                <table id="dgTask" class="easyui-datagrid" toolbar="#tbTask">
                </table>
            </div>
        </div>
    </div>
</div>

@*主弹窗*@
<div id="dlg" class="easyui-dialog" closed="true" modal="true" buttons="#dlg-buttons" style="width: 400px; padding: 10px;">
    <form id="fm" method="post" novalidate>
        <table class="edit-tbl">
            <input name="id" type="hidden">
            <tr>
                <th><Label for="routeName">线路名:</Label></th>
                <td><input name="routeName" class="easyui-textbox" style="width: 100%"></td>
            </tr>
            <tr>
                <th><Label for="routeTypeId">押运类型:</Label></th>
                <td><input id="routeType" name="routeTypeId" class="easyui-combobox" data-options="required: true" style="width:100%"></td>
            </tr>
            <tr>
                <th><Label for="vehicleId">车辆:</Label></th>
                <td><input id="vehicle" name="vehicleId" class="easyui-combobox" style="width: 100%"></td>
            </tr>
            <tr>
                <th><Label for="startTime">开始时间:</Label></th>
                <td><input name="startTime" class="easyui-timespinner" data-options="required: true" style="width:100%"></td>
            </tr>
            <tr>
                <th><Label for="endTime">结束时间:</Label></th>
                <td><input name="endTime" class="easyui-timespinner" data-options="required: true" style="width: 100%"></td>
            </tr>
             <tr>
                <th><Label for="mileage">预计里程:</Label></th>
                <td><input name="mileage" class="easyui-numberbox" data-options="precision:1" style="width: 100%"></td>
            </tr>
            <tr>
                <th><Label for="remark">备注:</Label></th>
                <td><input name="remark" class="easyui-textbox" style="width: 100%"></td>
            </tr>
        </table>
    </form>
</div>
<div id="dlg-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" onclick="mds.save('')">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="$('#dlg').dialog('close')">取消</a>
</div>

@*Worker弹窗*@
<div id="dlgWorker" class="easyui-dialog" closed="true" modal="true" buttons="#dlgWorker-buttons" align="center" style="width: 400px; padding: 10px;">
    <form id="fmWorker" method="post" novalidate>
        <table class="edit-tbl">
            <input name="id" type="hidden" >
            <input name="preRouteId" type="hidden">
            <tr>
                <th><Label for="workRoleId">线路角色:</Label></th>
                <td><input id="workRole" name="workRoleId" class="easyui-combobox" data-options="required: true" style="width: 200px"></td>
            </tr>
            <tr>
                <th><Label for="workerId">人员:</Label></th>
                <td><input id="worker" name="workerId" class="easyui-combobox" data-options="required: true" style="width: 100%"></td>
            </tr>
        </table>
    </form>
</div>
<div id="dlgWorker-buttons">
    <a name="save" class="easyui-linkbutton" iconCls="icon-save" onclick="mds.save('Worker')">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="$('#dlgWorker').dialog('close')">取消</a>
</div>

@*Task弹窗*@
<div id="dlgTask" class="easyui-dialog" closed="true" modal="true" buttons="#dlgTask-buttons" align="center" style="width: 400px; padding: 10px;">
    <form id="fmTask" method="post" novalidate>
        <table class="edit-tbl">
            <input name="id" type="hidden" >
            <input name="preRouteId" type="hidden">
            <tr>
                <th><Label for="arriveTime">预计到达时间:</Label></th>
                <td><input name="arriveTime" class="easyui-timespinner" data-options="required: true" style="width:100%"></td>
            </tr>
            <tr>
                <th><Label for="outletId">网点:</Label></th>
                <td><input id="outlet" name="outletId" class="easyui-combobox" data-options="required: true" style="width: 100%"></td>
            </tr>
            <tr>
                <th><Label for="taskTypeId">任务类型:</Label></th>
                <td><input id="taskType" name="taskTypeId" class="easyui-combobox" data-options="required: true" style="width: 100%"></td>
            <tr>
                <th><Label for="remark">备注:</Label></th>
                <td><input name="remark" class="easyui-textbox" style="width: 100%"></td>
            </tr>
        </table>
    </form>
</div>
<div id="dlgTask-buttons">
    <a name="save" class="easyui-linkbutton" iconCls="icon-save" onclick="mds.save('Task')">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="$('#dlgTask').dialog('close')">取消</a>
</div>