@{
    Layout = "~/Views/Shared/_WorkLayout.cshtml";
}

@section workScripts
{
    <environment names="Development">
        <script src="~/js/finput.js" asp-append-version="true"></script>
        <script src="~/view-resources/Views/ArticleWork/Lend.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/js/finput.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Views/ArticleWork/Lend.min.js" asp-append-version="true"></script>
    </environment>
}

@section funcScripts
{
    <script type="text/javascript">
        finput.onWorkerSelf = function(rfid) {
            abp.services.app.work.matchWorkerForLend(work.dd, work.myWork.affairId, rfid).done(function(ret) {
                if (ret.message != null) {
                    abp.notify.error(ret.message);
                    return;
                }
                finput.showWorkerCommon(ret);
            });
        };

        finput.onArticleSelf = function(rfid) {
            abp.services.app.work.matchArticleForLend(finput.worker.cn, finput.route.vehicleCn, finput.route.routeName, finput.worker.articleTypeList, rfid).done(function(ret) {
                if (ret.item1 != '') {
                    abp.notify.error(ret.item1);
                    return;
                }
                finput.showArticleCommon(ret.item2)
            });
        }

        finput.onWorkerConfirm = function() {
            if (finput.articles.length == 0) {
                abp.notify.warn('未领用任何物品')
                return;
            }

            abp.services.app.articleRecord.lend(finput.route.id, finput.worker.routeWorkerId, work.myWork.affairId, finput.getArticleIds()).done(function(count) {
                abp.notify.info(finput.worker.name+'领用了'+count+'件物品');
                $('#dlg').dialog('close');
            });
        }
    </script>
}

<div class="easyui-layout" fit="true">
    <div data-options="region:'north', split:true, border:false" style="min-height:120px; height:70%">
        <div id="tb">
            任务日期: <input id="dd" class="easyui-datebox" style="width:120px" readonly>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="$('#dg').datagrid('reload')">刷新</a>
            &nbsp;全部&nbsp;<input id="all" class="easyui-checkbox">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="managers" class="easyui-textbox" readonly style="width: 200px">
        </div>
        <table id="dg" title="线路列表" class="easyui-datagrid" toolbar="#tb"
                fit="true" fitColumns="true" rownumbers="true" singleSelect="true" striped="true" sortName="startTime">
            <thead>
                <tr>
                    <th field="startTime" width="60" sortabl="true">出发时间</th>
                    <th field="endTime" width="60">返回时间</th>
                    <th field="vehicle" width="80" formatter="work.vehicleFormatter">车辆</th>
                    <th field="routeName" width="60" sortable="true">线路名称</th>
                    <th field="status" width="60" align="center">状态</th>
                    <th field="remark" width="100" align="center">备注</th>
                </tr>
            </thead>
        </table>
    </div>
    <div data-options="region:'center'">
        <table id="dgWorker" class="easyui-datagrid"
                fit="true" fitColumns="true" rownumbers="true" singleSelect="true" striped="true" sortName="workRoleName">
            <thead>
                <tr>
                    <th field="workRoleName" width="80">工作角色</th>
                    <th field="worker" width="80" formatter="work.workerFormatter">人员</th>
                    <th field="articleList" width="200">物品清单</th>
                 </tr>
            </thead>
        </table>
    </div>
</div>

@*弹窗*@
<div id="dlg" class="easyui-dialog" title="物品领用" closed="true" modal="true" align="center" style="height: 600px; width: 850px;">
    <div class="easyui-layout" fit="true">
        <div data-options="region:'west', border:true" style="width:250px">
            <!-- <div style="font-size:48px; align: 'center'; backgroud-color: darkslategray; color: white"> -->
                <p id="routeName" class="route"></p>
                <p id="vehicle" class="route"></p>
            <!-- </div> -->
            <img id="photo" alt="照片" src="" style="margin-left:20px; width:200px; height:220px;" />
            <p id="worker" class="worker"></p>
        </div>
        <div data-options="region:'center'" style="border:3px solid #ccc; padding:10px">
            <div id="dl" class="esayui-datalist">
            </div>
        </div>
    </div>
</div>
