@section Scripts
{
    <environment names="Development">
        <script src="~/js/work.js" asp-append-version="true"></script>
        <script src="~/js/finput.js" asp-append-version="true"></script>
        <script src="~/view-resources/Views/ArticleWork/Return.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/js/work.min.js" asp-append-version="true"></script>
        <script src="~/js/finput.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Views/ArticleWork/Return.min.js" asp-append-version="true"></script>
    </environment>

    <script type="text/javascript">
        function getRouteId() {
            var row = $('#dg').datagrid('getSelected');
            if (row == null) return 0;
            return row.id;
        }
        function getDepotId() {
            var row = $('#dg').datagrid('getSelected');
            if (row == null) return work.me.depot;
            return row.depotId;
        }

        finput.matchWorker = function(rfid) {
            if (!work.validate()) return;
            abp.services.app.work.matchWorkerForArticle(false, work.me.workplaceId, work.me.today,  getDepotId(), rfid, getRouteId()).done(function(ret) {
                if (ret.message != null) {
                    finput.error(ret.message);
                    return;
                }
                finput.onMatchWorker(ret);
            });
        }

        finput.articleScanned = function(rfid) {
            // alert(rfid);
            abp.services.app.work.matchArticleForReturn(rfid).done(function(ret) {
                if (ret.item1 != '') {
                    abp.notify.error(ret.item1);
                    return;
                }
                var id = ret.item2;
                if (!finput.IsInReturnArticles(id)) {
                    abp.notify.error('此物品不在归还列表中');
                    return;
                };

                finput.showArticles();
            });
        }

        finput.submitArticles = function() {
            if (!finput.articlesAllReturn()) {
                abp.notify.error('还留有未归还物品')
                return;
            }

            abp.services.app.articleRecord.return(finput.route.id, finput.getArticles(), work.me.workers).done(function(count) {
                finput.success(finput.GetWorker() + '归还了' + count + '件物品');
                abp.services.app.route.setStatus(work.me.today, getDepotId(), finput.route.id, '还物');
                finput.submitArticlesDone();
            });
        }

        function askOpen() {
            abp.message.confirm('确认要申请吗?', '确认', function (r) {
                if (r) {
                    abp.ajax({
                        contentType: 'application/x-www-form-urlencoded',
                        url: 'AskOpen',
                        data: {depotId: work.me.depotId, routeId: finput.route.id, affairId: work.me.affairId, doorId: work.me.workplaceId, askWorkers: work.me.workers }  
                    }).done(function (ret) {
                        abp.notify.info('你的申请已发往监控中心', '', { positionClass : 'toast-top-right'} );
                    });
                }
            });
        }

    </script>
}

<div class="easyui-layout" fit="true">
    <div data-options="region:'north', split:true, border:false" style="min-height:120px; height:70%">
        <div id="tb" style="background:red">
            任务日期: <input id="dd" class="easyui-datebox" style="width:120px" readonly>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="$('#dg').datagrid('reload')">刷新</a>
        </div>
        <table id="dg" class="easyui-datagrid" toolbar="#tb"
                fit="true" fitColumns="true" rownumbers="true" singleSelect="true" striped="true" sortName="endTime">
            <thead>
                <tr>
                    <th field="startTime" width="60" sortabl="true">出发时间</th>
                    <th field="endTime" width="60">返回时间</th>
                    <th field="vehicle" width="80" formatter="$.vehicleFormatter">车辆</th>
                    <th field="altVehicle" width="80" formatter="$.altVehicleFormatter">替用车辆</th>
                    <th field="routeName" width="60" sortable="true">线路名称</th>
                    <th field="status" width="60" align="center">状态</th>
                    <th field="remark" width="100">备注</th>
                </tr>
            </thead>
        </table>
    </div>
    <div data-options="region:'center'">
        <audio id="sounde" src="~/sounds/error.mp3" type="audio/mpeg" controller="false" style="width:0;height:0">ERROR</audio>
        <audio id="sounds" src="~/sounds/success.mp3" type="audio/mpeg" controller="false" style="width:0;height:0">ERROR</audio>
        <table id="dgWorker" class="easyui-datagrid"
                fit="true" fitColumns="true" rownumbers="true" singleSelect="true" striped="true" sortName="workRoleName">
            <thead>
                <tr>
                    <th field="workRoleName" width="80">工作角色</th>
                    <th field="worker" width="80" formatter="$.workerFormatter">人员</th>
                    <th field="altWorker" width="80" formatter="$.altWorkerFormatter">替班人员</th>
                    <th field="articleList" width="200">物品清单</th>
                 </tr>
            </thead>
        </table>
    </div>
</div>

@*弹窗*@
<div id="dlg" class="easyui-dialog" title="物品归还" closed="true" modal="true" align="center" style="height: 600px; width: 550px;">
    <div class="easyui-layout" fit="true">
        <div data-options="region:'north', border:true" style="height:350px">
            <p id="routeInfo" class="routeInfo"></p>
            <img id="photo" class="photo" alt="照片" src="" />
            <p id="workerInfo" class="workerInfo"></p>
        </div>
        <div data-options="region:'center'" style="border:3px solid #ccc; padding:10px">
            <ul id="articles" class="article">
            </ul>
        </div>
    </div>
</div>

@*弹窗*@
<div id="dlg2" class="easyui-dialog" title="物品归还" closed="true" modal="true" align="center" style="height: 600px; width: 1100px;">
    <div class="easyui-layout" fit="true">
        <div data-options="region:'west', border:true" style="width:50%">
            <div class="easyui-layout" fit="true">
                <div data-options="region:'north', border:true" style="height:350px">
                    <p id="routeInfo1" class="routeInfo"></p>
                    <img id="photo1" class="photo" alt="照片" src="" />
                    <p id="workerInfo1" class="workerInfo"></p>
                </div>
                <div data-options="region:'center'" style="border:3px solid #ccc; padding:10px">
                    <ul id="articles1" class="article">
                    </ul>
                </div>
            </div>
        </div>
        <div data-options="region:'center'" >
            <div class="easyui-layout" fit="true">
                <div data-options="region:'north', border:true" style="height:350px">
                    <div id="tb">
                        <a id="askOpen" href="javascript:void(0)" class="easyui-linkbutton" onclick="askOpen()" style="background:yellow">申请开门</a>
                    </div>
                    <div class="easyui-panel" fit="true" tools="#tb" style="padding: 10px">
                        <img id="photo2" class="photo" alt="照片" src="" style="margin-top: 38px" />
                        <p id="workerInfo2" class="workerInfo" style="margin-top: 50px" ></p>
                    </div>
                </div>
                <div data-options="region:'center'" style="border:3px solid #ccc; padding:10px">
                    <ul id="articles2" class="article">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

