@section Scripts
{
    <environment names="Development">
        <script src="~/js/work.js" asp-append-version="true"></script>
        <script src="~/js/finput.js" asp-append-version="true"></script>
        <script src="~/view-resources/Views/ArticleWork/Return.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/js/work.min.js" asp-append-version="true"></script>
        <script src="~/js/finput.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Views/ArticleWork/Return.min.js" asp-append-version="true"></script>
    </environment>

    <script type="text/javascript">
        function getRouteId() {
            var row = $('#dg').datagrid('getSelected');
            if (row == null) return 0;
            return row.id;
        }

        finput.matchWorker = function(rfid) {
            abp.services.app.work.matchWorkerForArticle(false, work.me.workplaceId, work.me.today, work.me.today, work.me.affairId, rfid, getRouteId()).done(function(ret) {
                if (ret.message != null) {
                    abp.notify.error(ret.message);
                    return;
                }
                finput.showWorker(ret);
            });
        }

        finput.showWorkerDetails = function() {
            $('#dl').datalist({
                checkbox: true,
                data: finput.articles
            });
            for (var i = 0; i < finput.articles.length; i++)
                if (finput.articles[i].isReturn) 
                    $('#dl').datalist('checkRow', i);
        }

        finput.articleScanned = function(rfid) {
            // alert(rfid);
            abp.services.app.work.matchArticleForReturn(rfid).done(function(ret) {
                if (ret.item1 != '') {
                    abp.notify.error(ret.item1);
                    return;
                }
                var a = ret.item2;
                for (var i = 0; i < finput.articles.length; i++) {
                    if (finput.articles[i].articleId == a.articleId) {
                        $('#dl').datalist('checkRow', i);
                        return;
                    };
                };
                abp.notify.warn('此物品不在归还物品列表中');
            });
        }

        finput.onWorkerConfirm = function() {
            var rows = $('#dl').datalist('getChecked');
            // alert(rows.length);
            if (rows.length != finput.articles.length) {
                abp.notify.error('还有未归还物品')
                return;
            }

            var ids = [];
            for (var i = 0; i < finput.articles.length; i++) ids.push(finput.articles[i].recordId);
            if (ids.length == 0) return;
            // alert(ids[0]);
            abp.services.app.articleRecord.return(ids, work.myWork.workers).done(function(count) {
                abp.notify.info(finput.worker.name+'归还了'+count+'件物品');
                $('#dlg').dialog('close');
            });
        }
    </script>
}

<div class="easyui-layout" fit="true">
    <div data-options="region:'north', split:true, border:false" style="min-height:120px; height:70%">
        <div id="tb" style="background:yellow">
            任务日期: <input id="dd" class="easyui-datebox" style="width:120px" readonly>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="$('#dg').datagrid('reload')">刷新</a>
        </div>
        <table id="dg" class="easyui-datagrid" toolbar="#tb"
                fit="true" fitColumns="true" rownumbers="true" singleSelect="true" striped="true" sortName="endTime">
            <thead>
                <tr>
                    <th field="startTime" width="60" sortabl="true">出发时间</th>
                    <th field="endTime" width="60">返回时间</th>
                    <th field="vehicle" width="80" formatter="$.vehicleFormatter">车辆</th>
                    <th field="altVehicle" width="80" formatter="$.altVehicleFormatter">替用车辆</th>
                    <th field="routeName" width="60" sortable="true">线路名称</th>
                    <th field="status" width="60" align="center">状态</th>
                    <th field="remark" width="100" align="center">备注</th>
                </tr>
            </thead>
        </table>
    </div>
    <div data-options="region:'center'">
        <table id="dgWorker" class="easyui-datagrid"
                fit="true" fitColumns="true" rownumbers="true" singleSelect="true" striped="true" sortName="workRoleName">
            <thead>
                <tr>
                    <th field="workRoleName" width="80">工作角色</th>
                    <th field="worker" width="80" formatter="work.workerFormatter">人员</th>
                    <th field="articleList" width="200">物品清单</th>
                 </tr>
            </thead>
        </table>
    </div>
</div>

@*弹窗*@
<div id="dlg" class="easyui-dialog" title="物品归还" closed="true" modal="true" align="center" style="height: 600px; width: 850px;">
    <div class="easyui-layout" fit="true">
        <div data-options="region:'west', border:true" style="width:250px">
            <!-- <div style="font-size:48px; align: 'center'; backgroud-color: darkslategray; color: white"> -->
                <p id="routeName" class="route"></p>
                <p id="vehicle" class="route"></p>
            <!-- </div> -->
            <img id="photo" alt="照片" src="" style="margin-left:20px; width:200px; height:220px;" />
            <p id="worker" class="worker"></p>
        </div>
        <div data-options="region:'center'" style="border:3px solid #ccc; padding:10px">
            <div id="dl" class="esayui-datalist" fit="true" fitColumns="true" striped="true" singleSelect="false", checkOnSelect="false">
            </div>
        </div>
    </div>
</div>
