@section Scripts
{
    <environment names="Development">
        <script src="~/js/work.js" asp-append-version="true"></script>
        <script src="~/js/finput.js" asp-append-version="true"></script>
        <script src="~/view-resources/Views/ArticleWork/TempArticle.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/js/work.min.js" asp-append-version="true"></script>
        <script src="~/js/finput.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Views/ArticleWork/TempArticle.min.js" asp-append-version="true"></script>
    </environment>

    <script type="text/javascript">
        var currentAffairId = 0;
        finput.matchWorker = function(rfid) {
            var app = finput.style == 0 ? 
                abp.services.app.work.matchWorkerForStoreTempArticle : abp.services.app.work.matchWorkerForTakeTempArticle;
            app(work.me.today, work.me.depotId, currentAffairId, rfid).done(function(ret) {
                if (ret.message != null) {
                    finput.error(ret.message);
                    return;
                }
                finput.onMatchWorker(ret);
            });
        };

        finput.articleScanned = function(rfid) {
            // alert("scanned"+rfid);
            if (!finput.rfidIsInArticles(rfid)) {
                abp.notify.error('此物品不在归还列表中');
                return;
            };

            finput.showArticles();
        }

        finput.submitArticles = function(rwId) {
            if (!finput.articlesAllReturn()) {
                abp.notify.error('还需要扫描物品');
                return false;
            }

            var st = finput.style == 0 ? '临时存物' : '临时取物';
            // alert(st);
            abp.services.app.affair.insertTempArticle(st, currentAffairId, finput.getArticles(), finput.route.depotId, finput.route.routeName + ',' + finput.getWorker()).done(function(count) {
                finput.success(finput.getWorker() + st + '了物品');
                finput.submitArticlesDone();
            });
            return true;
        }

        function askOpen() {
            abp.message.confirm('确认要申请吗?', '确认', function (r) {
                if (r) {
                    var st = finput.style == 0 ? '临时存物' : '临时取物';
                    abp.ajax({
                        contentType: 'application/x-www-form-urlencoded',
                        url: 'AskOpenTemp',
                        data: {style: st, depotId: work.me.depotId, routeName: finput.route.routeName, affairId: currentAffairId, doorId: work.me.workplaceId, askWorkers: work.me.workers }  
                    }).done(function (ret) {
                        abp.notify.info(ret.message, '', { positionClass : 'toast-top-right'} );
                    });
                }
            });
        }            

    </script>
}

<div class="easyui-layout" fit="true">
    <div data-options="region:'center'">
        <audio id="sounde" src="~/sounds/error.mp3" type="audio/mpeg" controller="false" style="width:0;height:0">ERROR</audio>
        <audio id="sounds" src="~/sounds/success.mp3" type="audio/mpeg" controller="false" style="width:0;height:0">ERROR</audio>
        <div id="tb">
            任务日期: <input id="dd" class="easyui-datebox" style="width:120px" readonly>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="$('#dg').datagrid('reload')">刷新</a>
            今日其他班次:<input id="prevAffair" class="easyui-combobox" style="width:120px">
            &nbsp;取物&nbsp;<input id="take" class="easyui-checkbox">
        </div>
        <table id="dg" class="easyui-datagrid" toolbar="#tb"
                fit="true" fitColumns="true" rownumbers="true" singleSelect="true" striped="true" sortName="workRoleName">
            <thead>
                <tr>
                    <th field="eventTime" width="80" formatter="$.datetimeFormatter">存物时间</th>
                    <th field="issurer" width="100">存取人</th>
                    <th field="description" width="160">物品列表</th>
                    <th field="takeTime" width="80" formatter="$.timeFormatter">取回时间</th>
                 </tr>
            </thead>
        </table>
    </div>
</div>


@*弹窗*@
<div id="dlg2" class="easyui-dialog" closed="true" title="扫描物品" modal="true" align="center" style="height: 600px; width: 1100px;">
    <div class="easyui-layout" fit="true">
        <div data-options="region:'west', border:true" style="width:50%">
            <div class="easyui-layout" fit="true">
                <div data-options="region:'north', border:true" style="height:350px">
                    <p id="routeInfo1" class="routeInfo"></p>
                    <img id="photo1" class="photo" alt="照片" src="" />
                    <p id="workerInfo1" class="workerInfo"></p>
                </div>
                <div data-options="region:'center'" style="border:3px solid #ccc; padding:10px">
                    <ul id="articles1" class="article">
                    </ul>
                </div>
            </div>
        </div>
        <div data-options="region:'center'" >
            <div class="easyui-layout" fit="true">
                <div data-options="region:'north', border:true" style="height:350px">
                    <div id="tb">
                        <a id="askOpen" href="javascript:void(0)" class="easyui-linkbutton" onclick="askOpen()" style="background:yellow">申请开门</a>
                    </div>
                    <div class="easyui-panel" fit="true" tools="#tb" style="padding: 10px">
                        <img id="photo2" class="photo" alt="照片" src="" style="margin-top: 38px" />
                        <p id="workerInfo2" class="workerInfo" style="margin-top: 50px" ></p>
                    </div>
                </div>
                <div data-options="region:'center'" style="border:3px solid #ccc; padding:10px">
                    <ul id="articles2" class="article">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

