@model Clc.Weixin.Dto.WxIdentifyDto
@{
    ViewBag.Title = "网点输入密码";
    Layout = "~/Views/Shared/_WeixinLayout.cshtml";
}
    
@section header
{
    <script type="text/javascript">
        window.onload = function() {
            // alert('1');
            document.body.style.background = "url('../../../images/logowater.jpg'";
        }

        function selectOutlet() {
            if (taskId.value != 0) {
                alert('已确定网点');
            }
            else {
                document.fm.action = "/WwApp02/SelectOutlet";
                document.fm.submit();
            }
        }

        function verifyOutlet() {
            document.fm.action = "/WwApp02/VerifyOutlet";
            document.fm.submit();
        }
    </script>
}

<form name="fm" method="post" onsubmit="checkSubmit()">
    @Html.ValidationSummary()
    <div class="weui-cells__title" style="margin-bottom:10px">填写内容</div>
    <div  class="weui-cells">
    <div class="weui-cell" style="margin-bottom:5px">
        <div class="weui-cell__hd"><label for="OutletCn" class="weui-label">网点编号:</label></div>
        <div class="weui-cell__bd">
            <input type="hidden" name="TaskId" value="@Model.TaskId"/>
            <input class="weui-input" name="outletCn" type="number" pattern="[0-9]*" placeholder="请输入网点编号" />
        </div>
    </div>
    <div>
    <input class="weui-btn weui-btn_plain-default" type="button" value="选择网点" onclick="selectOutlet()" style="margin-bottom:15px;" />

    <div class="weui-cells__title" style="margin-bottom:5px">银行网点使用区域</div>
        <h2>&nbsp;&nbsp;@Model.OutletCn @Model.OutletName</h2>
    </div>
    <div class="weui-cell" style="margin-bottom:10px">
        <div class="weui-cell__hd"><label for="Password" class="weui-label">网点密码:</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" name="password" type="password" pattern="[0-9]*" placeholder="请银行输入密码" />
        </div>
    </div>
    <div>
        <input class="weui-btn  weui-btn_primary" type="button" value="确定" onclick="verifyOutlet()" style="margin-bottom:5px" />
    </div>
</form>
