<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" />
    <title>@ViewBag.Title</title>


    <link rel="stylesheet" href="http://res.wx.qq.com/open/libs/weui/2.0.1/weui.min.css">
    <link href="~/css/main.css" rel="stylesheet" asp-append-version="true" />

    @RenderSection("header", required: false)
</head>
<body ontouchstart>
    @RenderBody()
  
    <script type="text/javascript" src="http://res.wx.qq.com/open/libs/weuijs/1.2.1/weui.min.js"></script>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"> </script>

    <script type="text/javascript" src="~/js/weixin.js" asp-append-version="true"></script>

    @RenderSection("footer", required: false)
</body>
</html>
