@model Clc.Web.Models.Weixin.ApproveTempDoorViewModel
@{
    ViewBag.Title = "审批临时存取开门";
    Layout = "~/Views/Shared/_WeixinLayout.cshtml";
}

<form class="weui-cells weui-cells_form" action="/WwApp03/ApproveTempAskDoor" method="post" onsubmit="onSubmit()">
    @Html.ValidationSummary()
    <div class="weui-cells__title" style="margin-bottom:10px">内容</div>
    <div class="weui-cells">
        <input name="id" type="hidden" value="@Model.Id">
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">场地门:</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" name="workplaceName" readonly type="text" value="@Model.WorkplaceName">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">备注:</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" name="remark" readonly type="text" value="@Model.Remark">
            </div>
        </div>
        <div class="weui-cell">
            <input type="submit" value="同意" class="weui-btn weui-btn_primary" />
        </div>
    </div>
</form>
