@model Clc.Web.Models.Weixin.LoginViewModel
@{
    ViewBag.Title = "登录";
    Layout = "~/Views/Shared/_WeixinLayout.cshtml";
}

<form class="weui-cells weui-cells_form" action ="/WeixinAccount/Login" method="post" onsubmit="onSubmit()">
    @Html.ValidationSummary()
    <div class="weui-cells__title">员工登录</div>
    <div  class="weui-cells">
        <div class="weui-cell">
            <div class="weui-cell__hd"><label for="workerCn" class="weui-label">工号:</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" name="workerCn" type="text" placeholder="请输入工号" value="@Model.WorkerCn" />
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label for="Password" class="weui-label">密码:</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" name="password" type="password" placeholder="请输入密码" value="@Model.Password" />
            </div>
        </div>
        <div class="weui-cell">
            <input type="submit" value="登录" class="weui-btn weui-btn_primary" />
        </div>
        <input type="hidden" id="returnUrl" name="returnUrl" value="@Model.ReturnUrl" />
    </div>
</form>

@section footer
{
    <script type="text/javascript">
    </script>
}