@using Clc.Types
@{
    Layout = "~/Views/Shared/_CrudLayout.cshtml";
}

@section customScript
{
    <script type="text/javascript">
        crud.dgDefault.name = 'RouteTypes';
        crud.dgDefault.sortName = 'name';
        crud.dgDefault.columns = [[
            { field: "name", title: "名称", width: 80 },
            { field: "workRoles", title: "工作角色列表", width: 120 },
            { field: "lendArticleLead", title: "领物提前时间(分钟)", width: 80 },
            { field: "lendArticleDeadline", title: "领物截止时间(分钟)", width: 80 },
            { field: "activateLead", title: "激活提前时间(分钟)", width: 80 },
        ]];
    </script>
}

@*弹窗*@
<div id="dlg" class="easyui-dialog" closed="true" modal="true" buttons="#dlg-buttons" align="center" style="width: 500px; padding: 10px;">
    <form id="fm" class="easyui-form" method="post" novalidate>
        <table class="edit-tbl">
            <input id="id" name="id" type="hidden">
            <tr>
                <th><label for="name">名称：</label></th>
                <td><input name="name" class="easyui-textbox" data-options="required:true, validType:'length[2, @RouteType.MaxNameLength]'" style="width: 100%"></td>
            </tr>
            <tr>
                <th><label for="workRoles">工作角色列表：</label></th>
                <td><input name="workRoles" class="easyui-textbox" data-options="required:true, validType:'length[2, @RouteType.MaxWorkRolesLength]'" style="width: 100%"></td>
            </tr>
            <tr>
                <th><label for="lendArticleLead">领物提前时间：</label></th>
                <td><input name="lendArticleLead" class="easyui-numberbox" style="width: 100%"></td>
            </tr>
            <tr>
                <th><label for="lendArticleDeadline">领物截止时间：</label></th>
                <td><input name="lendArticleDeadline" class="easyui-numberbox" style="width: 100%"></td>
            </tr>
            <tr>
                <th><label for="activateLead">激活提前时间：</label></th>
                <td><input name="activateLead" class="easyui-numberbox" style="width: 100%"></td>
            </tr>
        </table>
    </form>
</div>
