@using Clc.Types.Entities
@{
    Layout = "~/Views/Shared/_CrudLayout.cshtml";
}

@section customScript
{
    <script type="text/javascript">
        crud.dgDefault.name = 'Posts';
        crud.dgDefault.sortName = 'cn';
        crud.dgDefault.columns = [[
            { field: "cn", title: "编号", width: 80, sortable: true },
            { field: "name", title: "名称", width: 80, sortable: true },
            { field: "workerRoleName", title: "登录角色名", width: 80, sortable: true },
        ]];
    </script>
}

@*弹窗*@
<div id="dlg" class="easyui-dialog" closed="true" modal="true" align="center" style="width: 400px; padding: 10px;">
    <form id="fm" method="post" novalidate>
        <table class="edit-tbl">
            <input id="id" name="id" type="hidden">
            <tr>
                <th><label for="cn">编号：</label></th>
                <td><input name="cn" class="easyui-textbox" data-options="required:true, validType:'length[1, @Post.MaxCnLength]'" style="width: 100%"></td>
            </tr>
            <tr>
                <th><label for="name">名称：</label></th>
                <td><input name="name" class="easyui-textbox" data-options="required:true, validType:'length[1, @Post.MaxNameLength]'" style="width: 100%"></td>
            </tr>
            <tr>
                <th><Label for="workerRoleName">登录角色名: </Label></th>
                <td><input name="workerRoleName" class="easyui-textbox" style="width: 100%"></td>
            </tr>
        </table>
    </form>
</div>
