@using Clc.Web.Views.Shared.Components.TopBarTitle
@using Clc.Web.Views.Shared.Components.SideBarNav

@section Styles {
    <environment names="Development">
        <link rel="stylesheet" href="~/view-resources/Views/Home/Home.css" asp-append-version="true" />
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/view-resources/Views/Home/Home.min.css" asp-append-version="true" />
    </environment>
}

@section Scripts
{
    <environment names="Development">
        <script src="~/js/winput.js" asp-append-version="true"></script>
        <script src="~/view-resources/Views/Home/Index.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/winput.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Views/Home/Index.min.js" asp-append-version="true"></script>
    </environment>
}

<!-- Page Lock -->
<div id="lockDiv" class="lock-mask">
    <p>正在锁屏中...</p> 
</div>
<!-- #END# Page Loader -->

<!-- body -->
<div class="easyui-layout" fit="true">
    <div data-options="region:'north'" style="height: 48px; line-height: 0px;">
        <div class="topbar">
            <div class="bar-left">
                @await Component.InvokeAsync(typeof(TopBarTitleViewComponent))
            </div>
            <div class="bar-right">
                <!-- <a href="#" class="easyui-linkbutton" style="color: white; margin-right: 5px; " plain="true">修改密码</a> -->
                <a href="/Account/Logout" class="easyui-linkbutton" plain="true" iconCls="icon-cancel">退出</a>
            </div>
        </div>
    </div>
    <div data-options="region:'west',split:true,title:'导航菜单'" style="width: 165px; min-width: 100px; height:100%; ">
        <div class="easyui-layout" fit="true">
            <div data-options="region:'south'" style="width:100%; height: 160px;">
                <object classid="clsid:87772C8D-3C8C-4E55-A886-5BA5DA384424" id="ZAZFingerActivex" width="100%"  height="155"></object>
            </div> 
            <div data-options="region:'center', border:false">
                <div id="menu-accordion" class="easyui-accordion" data-options="fit:true, border:false, selected:true">
                    @await Component.InvokeAsync(typeof(SideBarNavViewComponent))
                </div>
            </div>
        </div>
    </div>
    <div data-options="region:'center', border:false">
        <div id="main-tab" class="easyui-tabs" data-options="fit:true, border:false">
            <!--<div title="我的主页" iconcls="pic_209" data-options="fit:true" style="padding: 5px; overflow: hidden; ">
                <iframe scrolling="auto" frameborder="0" src="" style="width: 100%; height: 100%;"></iframe>
            </div>-->
        </div>
    </div>
    <!-- status bar -->
    <div data-options="region:'south'" style="height: 26px; line-height: 0px;">
        <div class="statusbar">
            <div class="bar-left">
                <p id="rfid1" class="status-info">人RFID</p>
                <p id="rfid2" class="status-info">物RFID</p>
            </div>
            <div class="bar-right">
                <i class="status-hint fa fa-home"></i>
                <p class="status-hint">Clc</p>
                <p class="status-hint">Copyright 2019</p>
            </div>
        </div>        
    </div>
    <!-- #END# status bar -->
</div>

<!-- #END# Body -->

<div id="tab-menu" class="easyui-menu" style="width: 150px;">
    <div id="tab-menu-refresh" data-options="iconCls:'icon-reload'">刷新</div>
    <div id="tab-menu-openFrame" data-options="iconCls:'pic_138'">新窗口打开</div>
    <div class="menu-sep"></div>
    <div id="tab-menu-close" data-options="iconCls:'icon-remove'">关闭</div>
    <div id="tab-menu-closeleft" data-options="iconCls:'icon-undo'">关闭左边</div>
    <div id="tab-menu-closeright" data-options="iconCls:'icon-redo'">关闭右边</div>
    <div class="menu-sep"></div>
    <div id="tab-menu-closeother" data-options="iconCls:'pic_101'">关闭其他</div>
    <div id="tab-menu-closeall" data-options="iconCls:'pic_283'">关闭所有</div>
</div>

@*弹窗*@
<div id="dlg" class="easyui-dialog"  title="修改密码" closed="true" modal="true" buttons="#dlg-buttons" style="width: 400px; padding: 10px;">
    <form id="fm" method="post" novalidate>
        <table class="edit-tbl">
            <tr>
                <th><label for="NewPassword">新密码：</label></th>
                <td><input id="NewPassword" name="NewPassword" class="easyui-textbox" data-options="required:true" style="width: 100%"></td>
            </tr>
            <tr>
                <th><label for="NewPasswordAgain">再次输入：</label></th>
                <td><input id="NewPasswordAgain" name="NewPasswordAgain" class="easyui-textbox" data-options="required:true" style="width: 100%"></td>
            </tr>
        </table>
    </form>
</div>
<div id="dlg-buttons">
    <a id="submit" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save">提交</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="$('#dlg').dialog('close')">取消</a>
</div>

@*unLock弹窗*@
<div id="dlgUnlock" class="easyui-dialog" closed="true" modal="true" title="验证解屏密码" buttons="#dlgUnlock-buttons" style="z-index:8889; width: 400px; padding: 10px;">
    <form id="fmUnlock" class="easyui-form" method="post" novalidate>
        <table class="edit-tbl">
            <tr>
                <th><label for="password">解屏密码：</label></th>
                <td><input id="passwordUnlock" class="easyui-textbox" data-options="required:true" style="width: 100%"></td>
            </tr>
        </table>
    </form>
</div>
<div id="dlgUnlock-buttons">
	<a href="#" class="easyui-linkbutton" plain="true" onclick="verifyUnlockPassword()">确定</a>
</div>

@*激活Dialog*@
<div id="dlgActivate" class="easyui-dialog" buttons="#dlgActivate-buttons" title="激活" closed="true" modal="true" style="width:360px;">
    <form id="fmActivate" method="post" novalidate>
        <table class="edit-tbl">
           <tr>
                <th><label for="password">密码：</label></th>
                <td><input id="passwordActivate" class="easyui-textbox" data-options="required:true, validType:'length[5,8]'" style="width: 100%"></td>
            </tr>
        </table>
    </form>
</div>
<div id="dlgActivate-buttons">
    <a href="#" class="easyui-linkbutton" iconCls="icon-man" onclick="verifyFingerAndTrigger()">指纹验证</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-lock" onclick="verifyPasswordAndTrigger()">密码验证</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="$('#dlgActivate').dialog('close')">取消</a>
</div>
