@section Scripts
{
    <environment names="Development">
        <script src="~/js/winput.js" asp-append-version="true"></script>
        <script src="~/js/door.js" asp-append-version="true"></script>
        <script src="~/js/work.js" asp-append-version="true"></script>
        <script src="~/view-resources/Views/OpenDoors/AskOpenDoor.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/js/winput.min.js" asp-append-version="true"></script>
        <script src="~/js/door.min.js" asp-append-version="true"></script>
        <script src="~/js/work.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Views/OpenDoors/AskOpenDoor.min.js" asp-append-version="true"></script>
    </environment>

    <script type="text/javascript">
        var allowCardWhenCheckin = true;
        var status = '';
        var doorRecordId = 0;
        var doorIp = '';

        winput.matchWorker = function(rfid) {
            if (!allowCardWhenCheckin) {
                abp.notify.error('系统设置为不允许刷卡验证');
                return;
            }
            if (status == '') {
                abp.notify.warn('现在不需刷卡');
                return;
            }

            for (var i = 0; i < work.aws.length; i++) {
                if (work.aws[i].workerRfid == rfid) {
                    work.aws[i].confirmed = "是";
                    $('#dgConfirm').datagrid('loadData', { rows: work.aws });
                
                    if (allConfirmed()) doOpenDoor();
                    break;
                }
            }
        }  

        function fingerConfirm (index) {
            abp.notify.info('请将指纹放到指纹仪上');
            var row = work.aws[index];
            var finger = window.parent.getFingerCode();
            if (finger != '') {
                abp.services.app.work.confirmByFinger(finger, row.workerId).done(function(ret) {
                    if (ret.item1) {
                        abp.notify.info(ret.item2);
                        row.confirmed = "是";
                        $('#dgConfirm').datagrid('loadData', { rows: work.aws });

                        if (allConfirmed()) {
                            doOpenDoor();
                            notifyAskWorkers(row.askWorkers, row.workplaceName);
                        }
                    }
                    else
                        abp.notify.error(ret.item2);
                });
            }
        }
        
        function notifyAskWorkers(workers) {

        }

        function operatorConfirm (val, row, index) {
            var htmlTag = '<a href="javascript:void(0)" onclick="fingerConfirm(' + index + ')">指纹确认</a>';
            return htmlTag;
        }
              
    </script>
}

<div class="easyui-layout" fit="true">
    <embed id="sounds" src="~/sounds/dingdong.wav" type="audio/wav" controller="false" autostart="false" preload="auto"  hidden="true">
    <div data-options="region:'north', split:true" style="height: 30%">
        <div id="tb">
            任务日期: <input id="dd" class="easyui-datebox" readonly="true" style="width:120px">
            &nbsp;昨天&nbsp;<input id="yesterday" class="easyui-checkbox">
            <a name="reload" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="$('#dg').datagrid('reload')">刷新</a>
            <a name="open" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true">开门</a>
        </div>
        <table id="dg" class="easyui-datagrid" toolbar="#tb"
                fit="true" fitColumns="true" rownumbers="true" singleSelect="true" striped="true" sortName="askTime">
            <thead>
                <tr>
                    <th field="askTime" width="60" formatter="$.timeFormatter">申请时间</th>
                    <th field="workplaceDepotName" width="60">大队</th>
                    <th field="workplaceName" width="60">门禁名称</th>
                    <th field="askAffairContent" width="120">任务说明</th>
                    <th field="askStyle" width="60">申请方式</th>
                    <th field="askWorkers" width="120">申请人</th>
                </tr>
            </thead>
        </table>
    </div>
    <div data-options="region:'center'">
        <div class="easyui-layout" fit="true">
            <div data-options="region:'west', split:true, title:'视频'" style="width: 40%">
				<object id="EasyPlayerOcx" classid="clsid:1EE1C648-F4A9-42F9-9AA7-2C8E3AF7B7FD" style="width:100%; height:99%;">	
				</object>
			</div>
    		<div data-options="region:'center',title:'人员照片',border:false">
                <div id="tb">
                    <a name="open" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true">比对</a>
                </div id="tb">
                <div class="easyui-panel" tools="#tb" fit="true">
                    
                </div>
			</div>
        </div>
    </div>
</div>

@*多人确认弹窗*@
<div id="dlgConfirm" class="easyui-dialog" title="卡或指纹确认" closed="true" modal="true" align="center" style="height: 250px; width: 500px;">
    <table id="dgConfirm" class="easyui-datagrid" fit="true" fitColumns="true" striped="true" singleSelect="true" checkOnSelect="false">
        <thead>
            <tr>
                <th field="confirmed" width="80" align="center">已确认</th>
                <th field="workerCn" width="80">人员编号</th>
                <th field="workerName" width="80">人员姓名</th>
                <th field="op" width="80" formatter="operatorConfirm">操作</th>
            </tr>
        </thead>
    </table>
</div>
