@section Scripts
{
    <environment names="Development">
        <script src="~/js/winput.js" asp-append-version="true"></script>
        <script src="~/js/door.js" asp-append-version="true"></script>
        <script src="~/js/work.js" asp-append-version="true"></script>
        <script src="~/view-resources/Views/OpenDoors/AskOpenDoor.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/js/winput.min.js" asp-append-version="true"></script>
        <script src="~/js/door.min.js" asp-append-version="true"></script>
        <script src="~/js/work.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Views/OpenDoors/AskOpenDoor.min.js" asp-append-version="true"></script>
    </environment>

    <script type="text/javascript">
        var allowCardWhenCheckin = true;
        var status = '';
        var doorRecordId = 0;
        var doorIp = '';

        function fingerConfirm (index) {
            abp.notify.info('请将指纹放到指纹仪上');
            var finger = window.parent.getFingerCode();
            if (finger != '') {
                abp.services.app.work.confirmByFinger(finger, cds[index].workerId).done(function(ret) {
                    if (ret.item1) {
                        abp.notify.info(ret.item2);
                        cds[index].confirmed = true;
                        confirms.innerHTML = createHTML();

                        if (allConfirmed()) doOpenDoor();
                    }
                    else
                        abp.notify.error(ret.item2);
                });
            }
        }
        
        function operatorConfirm (val, row, index) {
            var htmlTag = '<a href="javascript:void(0)" onclick="fingerConfirm(' + index + ')">指纹确认</a>';
            return htmlTag;
        }
              
    </script>
}

<div class="easyui-layout" fit="true">
    <div data-options="region:'north', split:true" style="height: 40%">
        <audio id="sounds" src="~/sounds/success.mp3" type="audio/mpeg" controller="false" style="width:0;height:0">ERROR</audio>
        <div id="tb">
            任务日期: <input id="dd" class="easyui-datebox" readonly="true" style="width:120px">
            &nbsp;昨天&nbsp;<input id="yesterday" class="easyui-checkbox">
            <a name="reload" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="$('#dg').datagrid('reload')">刷新</a>
            <a name="open" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true">开门</a>
        </div>
        <table id="dg" class="easyui-datagrid" toolbar="#tb"
                fit="true" fitColumns="true" rownumbers="true" singleSelect="true" striped="true" sortName="askTime">
            <thead>
                <tr>
                    <th field="askTime" width="60" formatter="$.timeFormatter">申请时间</th>
                    <th field="workplaceDepotName" width="60">大队</th>
                    <th field="workplaceName" width="60">门禁名称</th>
                    <th field="askAffairContent" width="100">任务说明</th>
                    <th field="askStyle" width="100">申请方式</th>
                    <th field="askWorkers" width="100">申请人</th>
                    <th field="remark" width="100">备注</th>
                </tr>
            </thead>
        </table>
    </div>
    <div data-options="region:'center'">
        <div class="easyui-layout" fit="true">
            <div data-options="region:'west', split:true, title:'视频'" style="width: 40%">
				<object id="EasyPlayerOcx" classid="clsid:1EE1C648-F4A9-42F9-9AA7-2C8E3AF7B7FD" style="width:100%; height:99%;">	
				</object>
			</div>
    		<div data-options="region:'center',title:'人员照片',border:false">
                <div id="tbCamera">
                    <a name="open" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true">开始比对</a>
                    <a name="close" href="javascript:void(0)" class="easyui-linkbutton" plain="true">关闭视频</a>
                </div>
                <div class="easyui-panel" tools="#tbCamera" fit="true">
                    <div id="photos"></div>
                </div>
			</div>
        </div>
    </div>
</div>

@*多人确认弹窗*@
<div id="dlgConfirm" class="easyui-dialog" title="卡或指纹确认" closed="true" modal="true" align="center" style="height: 250px; width: 450px;">
    <div class="easyui-panel" fit="true">
        <ul id="confirms" class="article">
        </ul>
    </div>
</div>
