@section Scripts
{
    <environment names="Development">
        <script src="~/js/finput.js" asp-append-version="true"></script>
        <script src="~/js/door.js" asp-append-version="true"></script>
        <script src="~/js/work.js" asp-append-version="true"></script>
        <script src="~/view-resources/Views/OpenDoors/EmergOpenDoor.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/js/finput.min.js" asp-append-version="true"></script>
        <script src="~/js/door.min.js" asp-append-version="true"></script>
        <script src="~/js/work.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Views/OpenDoors/EmergOpenDoor.min.js" asp-append-version="true"></script>
    </environment>

    <script type="text/javascript">
        var status = '';
        var doorIp = '';
        var emergDoorRecordId = 0;
    
        finput.onWorker = function(rfid) {
            // judge rfid in work.me.ask
            if (!work.isInRfids(rfid)) return;

            abp.services.app.work.getWorkerByRfid(rfid).done(function(ret) {
                for (var i = 0; i < work.askWorkers.length; i++) {
                    if (work.askWorkers[i].name === ret.name) {
                        abp.notify.warn('此Rfid已刷过');
                        return;
                    }
                }

                work.askWorkers.push( ret );
                $('#dlCard').datalist('loadData', work.askWorkers);
                
                if (work.askWorkers.length == work.me.rfids.length) {
                    // ws && ws.send(doorIp);
                    abp.notify.info('已发送开门命令到对应的门禁', '', { positionClass : 'toast-top-center' });

                    // udpate doorRecord
                    if (status == 'emerg') {
                        // udpate emergDoorRecord
                        abp.services.app.doorRecord.carryoutEmergOpen(emergDoorRecordId, work.me.affairId).done(function() {
                            $('#dg').datagrid('reload');
                        });
                    }
                    $('#dlg').dialog('close');
                }
            });
        }
    </script>
}

<div class="easyui-layout" fit="true">
    <div data-options="region:'east', title:'门禁列表', collasped:true, split:true, border:false" style="width:350px">
        <div id="tbDoor">
            门禁密码：<input id="password" class="easyui-numberbox" data-options="requried:true" style="width: 100px">
            <a name="open" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true">开门</a>
        </div>
        <table id="dgDoor" class="easyui-datagrid" toolbar="#tbDoor"
                fit="true" fitColumns="true" rownumbers="true" singleSelect="true" striped="true">
            <thead>
                <tr>
                    <th field="depotName" width="60">大队</th>
                    <th field="name" width="60">场所名称</th>
                </tr>
            </thead>
        </table>
    </div>
    <div data-options="region:'center', title:'申请列表'">
        <div id="tb">
            任务日期: <input id="dd" class="easyui-datebox" readonly="true" style="width:120px">
            &nbsp;昨天&nbsp;<input id="yesterday" class="easyui-checkbox">
            <a name="reload" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="$('#dg').datagrid('reload')">刷新</a>
            <a name="open" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true">应急开门</a>
        </div>
        <table id="dg" class="easyui-datagrid" toolbar="#tb"
                fit="true" fitColumns="true" rownumbers="true" singleSelect="true" striped="true" sortName="createTime">
            <thead>
                <tr>
                    <th field="createTime" width="60" formatter="$.timeFormatter">创建时间</th>
                    <th field="issueContent" width="100">原因说明</th>
                    <th field="workplaceDepotName" width="60">大队</th>
                    <th field="workplaceName" width="60">门禁名称</th>
                    <th field="approvalTime" width="60" formatter="$.timeFormatter">审批时间</th>
                    <th field="approverName" width="60">审批人</th>
                    <th field="EmergDoorPassword" width="60">应急开门密码</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@*弹窗*@
<div id="dlg" class="easyui-dialog" title="刷卡开门" closed="true" modal="true" align="center" style="height: 250px; width: 400px;">
    <div id="dlCard" class="easyui-datalist" fit="true" fitColumns="true" striped="true">
    </div>
</div>
