@model int
@section Scripts
{
    <script type="text/javascript">
        $(function() {
            var depotId = $('#depotId').val();
            $('#dgDoor').datagrid({
                url: 'GridDataDoor?DepotId=' + depotId,
                onSelect: function (index, row) {
                    reloadSelectedTab();
                }
            });

            $('#tt').tabs({
                onSelect: function(title, index) {
                    reloadSelectedTab();
                }
            });
        });

        function reloadSelectedTab() {
            var row = $('#dgDoor').datagrid('getSelected');
            if (!row) return;

            var tab = $('#tt').tabs('getSelected');
            var index = $('#tt').tabs('getTabIndex', tab);
            if (index == 0) {
                $('#dgAsk').datagrid({ 
                    url: 'GridDataAskDoorRecord?WorkplaceId=' + row.id
                });
            }
            else {
                $('#dgEmerg').datagrid({ 
                    url: 'GridDataEmergDoorRecord?WorkplaceId=' + row.id
                });                
            }
        }
    </script>
}

<div class="easyui-layout" fit="true">
    <div data-options="region:'west', title:'门禁列表', split:true, border:false" style="width:160px">
        <input id="depotId" type="hidden" value="@Model">
        <table id="dgDoor" class="easyui-datagrid"
                fit="true" fitColumns="true" rownumbers="true" singleSelect="true" striped="true">
            <thead>
                <tr>
                    <th field="depotName" width="60">大队</th>
                    <th field="name" width="60">场所名称</th>
                </tr>
            </thead>
        </table>
    </div>
    <div data-options="region:'center'">
       <div id="tt" class="easyui-tabs" data-options="fit:true, border:false">
            <div title="申请开门记录" style="display:none;">
                <table id="dgAsk" class="easyui-datagrid" fit="true" fitColumns="true" sortName="askTime"
                        rownumbers="true" singleSelect="true" striped="true" pagination="true" pageSize="20">
                    <thead>
                        <tr>
                            <th field="askTime" width="60" formatter="$.datetimeFormatter">申请时间</th>
                            <th field="workplaceName" width="60">门禁名称</th>
                            <th field="askStyle" width="60">申请方式</th>
                            <th field="askAffairContent" width="120">任务说明</th>
                            <th field="askWorkers" width="120">申请人</th>
                            <th field="processTime" width="60" formatter="$.timeFormatter">开门时间</th>
                            <th field="monitorWorkers" width="120">开门人</th>
                            <th field="remark" width="120">备注</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div title="应急开门记录" style="display:none;">
                <table id="dgEmerg" class="easyui-datagrid" fit="true" fitColumns="true"  sortName="createTime"
                        rownumbers="true" singleSelect="true" striped="true" pagination="true" pageSize="20">
                    <thead>
                        <tr>
                            <th field="createTime" width="60" formatter="$.timeFormatter">创建时间</th>
                            <th field="issueContent" width="100">原因说明</th>
                            <th field="workplaceDepotName" width="60">大队</th>
                            <th field="workplaceName" width="60">门禁名称</th>
                            <th field="approvalTime" width="60" formatter="$.timeFormatter">审批时间</th>
                            <th field="approverName" width="60">审批人</th>
                            <th field="processTime" width="60" formatter="$.timeFormatter">开门时间</th>
                            <th field="monitorWorkers" width="120">开门人</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
