@{
    Layout = "~/Views/Shared/_WorkLayout.cshtml";
}

@section workScripts
{
    <environment names="Development">
        <script src="~/js/mds.js" asp-append-version="true"></script>
        <script src="~/view-resources/Views/Affairs/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/js/mds.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Views/Affairs/Index.min.js" asp-append-version="true"></script>
    </environment>

    <script type="text/javascript">
        mds.controllerName = 'Affairs';
        mds.masterInputName = 'affairId';
        // main
        mds.main = Object.assign({}, mds.dgDefault);
        mds.main.sortName = "startTime";
        mds.main.singleSelect = false;
        mds.main.columns = [[
            { field: "ck", checkbox: true },
            { field: "carryoutDate", title: "日期", width: 80, align: "center", formatter: $.dateFormatter },
            { field: "status", title: "状态", width: 50, align: "center" },
            { field: "workplaceName", title: "地点", width: 80 },
            { field: "startTime", title: "开始时间", width: 80, sortable: true },
            { field: "endTime", title: "结束时间", width: 80 },
            { field: "isTomorrow", title: "明天结束", width: 60 },
            { field: "remark", title: "备注", width: 80 },
            { field: "createWorkerName", title: "任务创建人", width: 80 },
        ]];
        mds.main.insert = abp.services.app.affair.insert;
        mds.main.update = abp.services.app.affair.update;
        mds.main.delete = abp.services.app.affair.delete;

        // details
        var detail = Object.assign({}, mds.dgDefault);
        detail.postfix = "Worker";
        detail.columns = [[
            { field: "workRoleName", title: "工作角色", width: 80 },
            { field: "workerCn", title: "人员编号", width: 80 },
            { field: "workerName", title: "人员姓名", width: 80 },
        ]];
        detail.insert = abp.services.app.affair.insertWorker;
        detail.update = abp.services.app.affair.updateWorker;
        detail.delete = abp.services.app.affair.deleteWorker;
        mds.details.push(detail);

        detail = Object.assign({}, mds.dgDefault);
        detail.postfix = "Event";
        detail.columns = [[
            { field: "eventTime", title: "发生时间", width: 80, formatter: $.datetimeFormatter },
            { field: "name", title: "名称", width: 80, align: "center" },
            { field: "description", title: "具体描述", width: 150 },
            { field: "issurer", title: "创建者", width: 80 },
        ]];
        detail.operatorColumn = false;
        mds.details.push(detail);

    </script>
}

@section funcScripts
{
    <script type="text/javascript">
        mds.initfunction = function () {
            // comboBoxs
            abp.services.app.field.getWorkerListItems().done(function (data) {
                $('#worker').combobox({
                    data: data,
                    valueField: 'id',
                    textField: 'cnNamePost'
                })
            });

            abp.services.app.field.getWorkplaceItems().done(function (data) {
                $('#workplace').combobox({
                    data: data, 
                    valueField: 'id', 
                    textField: 'name'
                });    
            });
        }

        mds.onselectfunction = function (masterRow) {
            // alert("onselect=" + masterRow.workplaceId);
            abp.services.app.type.getWorkRoleItems(masterRow.workplaceId).done(function (data) {
                $('#workRole').combobox({
                    data: data, 
                    valueField: 'id', 
                    textField: 'name'
                });    
            });
        };

        mds.customerSetAddValue = function(postfix) 
        {
            if (postfix == mds.main.postfix) {
                $('#fm'+mds.main.postfix).find('input[name="carryoutDate"]').attr('value', $('#dd').datebox('getValue'));
                $('#fm'+mds.main.postfix).find('input[name="status"]').attr('value', '安排');
            }
        };
        
        mds.getUrl = function(postfix, masterRow) {
            if (postfix == mds.main.postfix) return '';       // impossible

            var url = mds.controllerName + '/GridData' + postfix;
            if (masterRow == null)
                url += '/' + 0;          // clear datagrid!
            else
                url += '/' + masterRow.id;

            // alert(url);
            return url;
        }
        
        mds.beforeEdit = function (fm, postfix, row) {
            if (postfix == 'Worker') {
                abp.services.app.field.getWorkerItemsByWorkRole(row.workRoleId).done(function (data) {
                    $('#worker').combobox({ data: data, valueField: 'value', textField: 'displayText' });
                    setTimeout(function() {fm.form('load', row)}, 300);
                });
                return true;
            }
            return false;
        }

    </script>
}

<div class="easyui-layout" fit="true">
    <!-- BEGIN of Affair panel -->
    <div data-options="region:'north', split:true, border:false" style="min-height:120px; height:40%">
        <div id="tb">
            任务日期: <input id="dd" class="easyui-datebox" readonly="true" style="width:120px">
            &nbsp;明天&nbsp;<input id="tomorror" class="easyui-checkbox">
            <a name="reload" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="mds.reload('')">刷新</a>
            <a name="add" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="mds.add('')">添加</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a name="activate" href="javascript:void(0)" class="easyui-linkbutton">激活</a>
            <a name="back" href="javascript:void(0)" class="easyui-linkbutton">退回</a>
            <a name="createFrom" href="javascript:void(0)" class="easyui-linkbutton">从指定日期生成</a>
            <input id="fromDate" class="easyui-datebox" style="width:120px">
        </div>
        <table id="dg" class="easyui-datagrid" toolbar="#tb">
        </table>
    </div>
    <!-- END of affair panel -->
    <div data-options="region:'center'">
       <div id="tt" class="easyui-tabs" data-options="fit:true, border:false">
            <div title="人员列表" style="display:none;">
                <div id="tbWorker">
                    <a name="reload" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="mds.reload('Worker')">刷新</a>
                    <a name="add" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="mds.add('Worker')">添加</a>
                </div>
                <table id="dgWorker" class="easyui-datagrid" toolbar="#tbWorker">
                </table>
            </div>
            <div title="任务事件" style="display:none;">
                <div id="tbEvent">
                    <a name="reload" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="mds.reload('Event')">刷新</a>
                </div>
                <table id="dgEvent" class="easyui-datagrid" toolbar="#tbEvent">
                </table>
            </div>
       </div>
    </div>
</div>

@*主弹窗*@
<div id="dlg" class="easyui-dialog" closed="true" modal="true" buttons="#dlg-buttons" style="width: 400px; padding: 10px;">
    <form id="fm" method="post" novalidate>
        <table class="edit-tbl">
            <input name="id" type="hidden">
            <input name="carryoutDate" type="hidden">
            <input name="status" type="hidden">
            <input name="createWorkerId" type="hidden">
            <input name="createTime" type="hidden">
            <tr>
                <th><Label for="workplaceId">任务地点:</Label></th>
                <td><input id = "workplace" name="workplaceId" class="easyui-combobox" data-options="required: true" style="width:100%"></td>
            </tr>
            <tr>
                <th><Label for="startTime">开始时间:</Label></th>
                <td><input name="startTime" class="easyui-timespinner" data-options="required: true" style="width:100%"></td>
            </tr>
            <tr>
                <th><Label for="endTime">结束时间:</Label></th>
                <td><input name="endTime" class="easyui-timespinner" data-options="required: true" style="width: 100%"></td>
            <tr>
                <th><label for="isTomorrow">明天结束: </label></th>
                <td><input name="isTomorrow" class="easyui-switchbutton" data-options="height:24,onText:'是',offText:'否'"></td>
            </tr>
            <tr>
                <th><Label for="remark">备注:</Label></th>
                <td><input name="remark" class="easyui-textbox" style="width: 100%"></td>
            </tr>
        </table>
    </form>
</div>
<div id="dlg-buttons">
    <a name="save" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" onclick="mds.save('')">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="$('#dlg').dialog('close')">取消</a>
</div>

@*Worker弹窗*@
<div id="dlgWorker" class="easyui-dialog" closed="true" modal="true" buttons="#dlgWorker-buttons" align="center" style="width: 400px; padding: 10px;">
    <form id="fmWorker" method="post" novalidate>
        <table class="edit-tbl">
            <input name="id" type="hidden" >
            <input name="affairId" type="hidden">
            <tr>
                <th><Label for="workRoleId">角色:</Label></th>
                <td><input id="workRole" name="workRoleId" class="easyui-combobox" data-options="required: true" style="width: 200px"></td>
            </tr>
            <tr>
                <th><Label for="workerId">人员:</Label></th>
                <td><input id="worker" name="workerId" class="easyui-combobox" data-options="required: true" style="width: 100%"></td>
            </tr>
        </table>
    </form>
</div>
<div id="dlgWorker-buttons">
    <a name="save" class="easyui-linkbutton" iconCls="icon-save" onclick="mds.save('Worker')">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="$('#dlgWorker').dialog('close')">取消</a>
</div>

