@using Clc.Affairs
@section Scripts
{
    <environment names="Development">
        <script src="~/js/work.js" asp-append-version="true"></script>
        <script src="~/js/mds.js" asp-append-version="true"></script>
        <script src="~/view-resources/Views/Affairs/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/js/work.min.js" asp-append-version="true"></script>
        <script src="~/js/mds.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Views/Affairs/Index.min.js" asp-append-version="true"></script>
    </environment>

    <script type="text/javascript">
        mds.controllerName = 'Affairs';
        mds.masterInputName = 'affairId';
        // main
        mds.main = Object.assign({}, mds.dgDefault);
        mds.main.sortName = "startTime";
        mds.main.singleSelect = false;
        mds.main.columns = [[
            { field: "ck", checkbox: true },
            { field: "carryoutDate", title: "日期", width: 80, align: "center", formatter: $.dateFormatter },
            { field: "status", title: "状态", width: 50, align: "center" },
            { field: "content", title: "任务说明", width: 80 },
            { field: "workplaceName", title: "地点", width: 80 },
            { field: "workplaceAskOpenStyle", title: "申请开门方式", width: 60 },
            { field: "startTime", title: "开始时间", width: 80, sortable: true },
            { field: "endTime", title: "结束时间", width: 80 },
            { field: "remark", title: "备注", width: 80 },
            { field: "createWorkerName", title: "任务创建人", width: 80 },
        ]];
        mds.main.insert = abp.services.app.affair.insert;
        mds.main.update = abp.services.app.affair.update;
        mds.main.delete = abp.services.app.affair.delete;

        // details
        var detail = Object.assign({}, mds.dgDefault);
        detail.postfix = "Worker";
        detail.columns = [[
            { field: "workerCn", title: "人员编号", width: 80 },
            { field: "workerName", title: "人员姓名", width: 80 },
            { field: "workRoleName", title: "工作角色", width: 80 },
            { field: "workRoleDuties", title: "职责", width: 80 },
            { field: "checkinTime", title: "验入时间", width: 80, formatter: $.timeFormatter },
            { field: "checkoutTime", title: "验出时间", width: 80, formatter: $.timeFormatter },
            { field: "lastAskDoor", title: "最后申请开门时间", width: 80, formatter: $.timeFormatter },
        ]];
        detail.insert = abp.services.app.affair.insertWorker;
        detail.update = abp.services.app.affair.updateWorker;
        detail.delete = abp.services.app.affair.deleteWorker;
        mds.details.push(detail);

        detail = Object.assign({}, mds.dgDefault);
        detail.postfix = "Task";
        detail.sortName = "startTime";
        detail.columns = [[
            { field: "content", title: "任务说明", width: 80 },
            { field: "workplaceName", title: "场所", width: 80 },
            { field: "startTime", title: "开始时间", width: 80, sortable: true },
            { field: "endTime", title: "结束时间", width: 80, sortable: true },
            { field: "remark", title: "备注", width: 80 },
            { field: "startTimeActual", title: "作业开始时间", width: 80, sortable: true, formatter: $.timeFormatter },
            { field: "endTimeActual", title: "作业结束时间", width: 80, sortable: true, formatter: $.timeFormatter },
            { field: "createWorkerName", title: "创建人", width: 60 },
        ]];
        detail.insert = abp.services.app.affair.insertTask;
        detail.update = abp.services.app.affair.updateTask;
        detail.delete = abp.services.app.affair.deleteTask;
        mds.details.push(detail);

        $('#workRole').combobox({
            onChange: function (val) {
                if (!val) return;
                abp.services.app.field.getWorkerItemsByWorkRole(val).done(function (data) {
                    $('#worker').combobox({ data: data, valueField: 'value', textField: 'displayText' });
                });
            }
        });
    </script>

    <script type="text/javascript">
        mds.initfunction = function () {
            abp.services.app.field.getWorkplaceItems().done(function (data) {
                $('#workplace').combobox({data: data, valueField: 'id', textField: 'name' });
            });    
            abp.services.app.field.getWorkplaceItems(true).done(function (data) {
                $('#workplace2').combobox({data: data, valueField: 'id', textField: 'name' });    
            });
        };

        mds.onselectfunction = function (masterRow) {
            // alert("onselect=" + masterRow.workplaceId);
            abp.services.app.type.getWorkRoleItems(masterRow.workplaceId).done(function (data) {
                $('#workRole').combobox({
                    data: data, 
                    valueField: 'id', 
                    textField: 'name'
                });    
            });
        };

        mds.customerSetAddValue = function(postfix) 
        {
            if (postfix == mds.main.postfix) {
                $('#fm'+mds.main.postfix).find('input[name="carryoutDate"]').attr('value', $('#dd').datebox('getValue'));
                $('#fm'+mds.main.postfix).find('input[name="status"]').attr('value', '安排');
            }
        };
        
        mds.getUrl = function(postfix, masterRow) {
            if (postfix == mds.main.postfix) return '';       // impossible

            var url = mds.controllerName + '/GridData' + postfix;
            if (masterRow == null)
                url += '/' + 0;          // clear datagrid!
            else
                url += '/' + masterRow.id;

            // alert(url);
            return url;
        }
        
    </script>
}

<div class="easyui-layout" fit="true">
    <!-- BEGIN of Affair panel -->
    <div data-options="region:'north', split:true, border:false" style="min-height:120px; height:40%">
        <div id="tb">
            任务日期: <input id="dd" class="easyui-datebox" readonly="true" style="width:120px">
            &nbsp;明天&nbsp;<input id="tomorror" class="easyui-checkbox">
            <a name="reload" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="mds.reload('')">刷新</a>
            <a name="add" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="mds.add('')">添加</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a name="event" href="javascript:void(0)" class="easyui-linkbutton">任务事件</a>
            <a name="activate" href="javascript:void(0)" class="easyui-linkbutton">激活/下达</a>
            <a name="back" href="javascript:void(0)" class="easyui-linkbutton">退回</a>
            <a name="createFrom" href="javascript:void(0)" class="easyui-linkbutton">从指定日期生成</a>
            <input id="fromDate" class="easyui-datebox" style="width:120px">
        </div>
        <table id="dg" class="easyui-datagrid" toolbar="#tb">
        </table>
    </div>
    <!-- END of affair panel -->
    <div data-options="region:'center'">
       <div id="tt" class="easyui-tabs" data-options="fit:true, border:false">
            <div title="人员列表" style="display:none;">
                <div id="tbWorker">
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="mds.reload('Worker')">刷新</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="mds.add('Worker')">添加</a>
                </div>
                <table id="dgWorker" class="easyui-datagrid" toolbar="#tbWorker">
                </table>
            </div>
            <div title="金库子任务" style="display:none;">
                <div id="tbTask">
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="mds.reload('Task')">刷新</a>
                    <a name="add" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true">添加</a>
                </div>
                <table id="dgTask" class="easyui-datagrid" toolbar="#tbTask">
                </table>
            </div>
       </div>
    </div>
</div>

@*主弹窗*@
<div id="dlg" class="easyui-dialog" closed="true" modal="true" buttons="#dlg-buttons" style="width: 400px; padding: 10px;">
    <form id="fm" method="post" novalidate>
        <table class="edit-tbl">
            <input name="id" type="hidden">
            <input name="carryoutDate" type="hidden">
            <input name="status" type="hidden">
            <input name="createWorkerId" type="hidden">
            <input name="createTime" type="hidden">
            <tr>
                <th><Label for="content">任务说明:</Label></th>
                <td><input name="content" class="easyui-textbox" data-options="required: true, validType:'length[1, @Affair.MaxContentLength]'", style="width: 100%"></td>
            </tr>
            <tr>
                <th><Label for="workplaceId">任务地点:</Label></th>
                <td><input id = "workplace" name="workplaceId" class="easyui-combobox" data-options="required: true" style="width:100%"></td>
            </tr>
            <tr>
                <th><Label for="startTime">开始时间:</Label></th>
                <td><input name="startTime" class="easyui-timespinner" data-options="required: true" style="width:100%"></td>
            </tr>
            <tr>
                <th><Label for="endTime">结束时间:</Label></th>
                <td><input name="endTime" class="easyui-timespinner" data-options="required: true" style="width: 100%"></td>
            <tr>
                <th><Label for="remark">备注:</Label></th>
                <td><input name="remark" class="easyui-textbox" style="width: 100%"></td>
            </tr>
        </table>
    </form>
</div>
<div id="dlg-buttons">
    <a name="save" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" onclick="mds.save('')">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="$('#dlg').dialog('close')">取消</a>
</div>

@*Worker弹窗*@
<div id="dlgWorker" class="easyui-dialog" closed="true" modal="true" buttons="#dlgWorker-buttons" align="center" style="width: 400px; padding: 10px;">
    <form id="fmWorker" method="post" novalidate>
        <table class="edit-tbl">
            <input name="id" type="hidden" >
            <input name="affairId" type="hidden">
            <tr>
                <th><Label for="workRoleId">角色:</Label></th>
                <td><input id="workRole" name="workRoleId" class="easyui-combobox" data-options="required: true" style="width: 200px"></td>
            </tr>
            <tr>
                <th><Label for="workerId">人员:</Label></th>
                <td><input id="worker" name="workerId" class="easyui-combobox" data-options="required: true" style="width: 100%"></td>
            </tr>
        </table>
    </form>
</div>
<div id="dlgWorker-buttons">
    <a name="save" class="easyui-linkbutton" iconCls="icon-save" onclick="mds.save('Worker')">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="$('#dlgWorker').dialog('close')">取消</a>
</div>

@*Task弹窗*@
<div id="dlgTask" class="easyui-dialog" closed="true" modal="true" buttons="#dlgTask-buttons" align="center" style="width: 400px; padding: 10px;">
    <form id="fmTask" method="post" novalidate>
        <table class="edit-tbl">
            <input name="id" type="hidden" >
            <input name="affairId" type="hidden">
            <tr>
                <th><Label for="content">任务说明:</Label></th>
                <td><input name="content" class="easyui-textbox" data-options="required: true, validType:'length[1, @AffairTask.MaxContentLength]'", style="width: 100%"></td>
            </tr>
            <tr>
                <th><Label for="workplaceId">场所:</Label></th>
                <td><input id="workplace2" name="workplaceId" class="easyui-combobox" data-options="required: true" style="width: 100%"></td>
            </tr>
            <tr>
                <th><Label for="startTime">开始时间:</Label></th>
                <td><input name="startTime" class="easyui-timespinner" data-options="required: true" style="width:100%"></td>
            </tr>
            <tr>
                <th><Label for="endTime">结束时间:</Label></th>
                <td><input name="endTime" class="easyui-timespinner" data-options="required: true" style="width:100%"></td>
            </tr>
            <tr>
                <th><Label for="remark">备注:</Label></th>
                <td><input name="remark" class="easyui-textbox" style="width: 100%"></td>
            </tr>
        </table>
    </form>
</div>
<div id="dlgTask-buttons">
    <a name="save" class="easyui-linkbutton" iconCls="icon-save" onclick="mds.save('Task')">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="$('#dlgTask').dialog('close')">取消</a>
</div>

@*Event弹窗*@
<div id="dlgEvent" class="easyui-dialog" closed="true" modal="true" title="事件列表" align="center" style="width:900px; height:600px; padding: 10px;">
    <table id="dgEvent" class="easyui-datagrid"
            fit="true" fitColumns="true" rownumbers="true" singleSelect="true" striped="true">
        <thead>
            <tr>
                <th field="eventTime" width="80" formatter="$.datetimeFormatter">发生时间</th>
                <th field="name" width="80">名称</th>
                <th field="description" width="150">具体描述</th>
                <th field="issurer" width="120">创建者</th>
            </tr>
        </thead>
    </table>
</div>
