@section Scripts
{
    <environment names="Development">
        <script src="~/js/mds.js" asp-append-version="true"></script>
        <script src="~/view-resources/Views/Routes/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/js/mds.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Views/Routes/Index.min.js" asp-append-version="true"></script>
    </environment>

    <script type="text/javascript">
        mds.controllerName = 'Routes';
        mds.masterInputName = 'routeId';
        // main
        mds.main = Object.assign({}, mds.dgDefault);
        mds.main.sortName = "startTime";
        mds.main.singleSelect = false;
        mds.main.columns = [[
            { field: "ck", checkbox: true },
            { field: "carryoutDate", title: "时间", width: 80, formatter: $.dateFormatter },
            { field: "routeName", title: "线路名称", width: 80, sortable: true },
            { field: "status", title: "状态", width: 60 },
            { field: "routeTypeName", title: "押运类型", width: 80 },
            { field: "startTime", title: "出发时间", width: 100, sortable: true },
            { field: "endTime", title: "返回时间", width: 70 },
            { field: "mileage", title: "预计里程", width: 70 },
            { field: "vehicle", title: "车辆", width: 100, formatter: $.vehicleFormatter },
            { field: "altVehicle", title: "替用车辆", width: 80, formatter: $.altVehicleFormatter },
            // { field: "setoutTime", title: "实际出发", width: 80, formatter: $.timeFormatter },
            // { field: "returnTime", title: "实际返回", width: 80, formatter: $.timeFormatter },
            // { field: "actualMileage", title: "实际里程", width: 80 },
            { field: "remark", title: "备注", width: 80 },
            { field: "createWorkerName", title: "创建人", width: 60 }
        ]];
        mds.main.insert = abp.services.app.route.insert;
        mds.main.update = abp.services.app.route.update;
        mds.main.delete = abp.services.app.route.delete;

        // details
        var detail = Object.assign({}, mds.dgDefault);
        detail.postfix = "Worker";
        detail.columns = [[
            { field: "workRoleName", title: "工作角色", width: 80 },
            { field: "worker", title: "人员", width: 80, formatter: $.workerFormatter },
            { field: "altWorker", title: "替班人员", width: 80 },
            { field: "signin", title: "签到情况", width: 80, formatter: $.altWorkerFormatter },
            { field: "articleList", title: "物品清单", width: 280 },
        ]];
        detail.insert = abp.services.app.route.insertWorker;
        detail.update = abp.services.app.route.updateWorker;
        detail.delete = abp.services.app.route.deleteWorker;
        mds.details.push(detail);

        detail = Object.assign({}, mds.dgDefault);
        detail.postfix = "Task";
        detail.sortName = "arriveTime";
        detail.columns = [[
            { field: "arriveTime", title: "到达时间", width: 80, sortable: true },
            { field: "outlet", title: "网点", width: 120, formatter: $.outletFormatter },
            { field: "taskTypeName", title: "任务类型", width: 80 },
            { field: "remark", title: "备注", width: 80 },
            { field: "identifyTime", title: "交接时间", width: 80, formatter: $.timeFormatter },
            { field: "inBoxList", title: "入库尾箱", width: 200 },
            { field: "outBoxList", title: "出库尾箱", width: 200 },
            { field: "createWorkerName", title: "创建人", width: 60 },
        ]];
        detail.insert = abp.services.app.route.insertTask;
        detail.update = abp.services.app.route.updateTask;
        detail.delete = abp.services.app.route.deleteTask;
        mds.details.push(detail);
    </script>

    <script type="text/javascript">
        mds.initfunction = function () {
            // comboBoxs
            abp.services.app.type.getComboItems('RouteType').done(function (data) {
                $('#routeType').combobox({
                    data: data, 
                    valueField: 'value', 
                    textField: 'displayText'
                });  
            });
            abp.services.app.field.getVehicleListItems().done(function (data) {
                $('#vehicle').combobox({data: data, valueField: 'id', textField: 'cnLicense'});    
                $('#altVehicle').combobox({data: data, valueField: 'id', textField: 'cnLicense'});    
            });

            abp.services.app.client.getComboItems('OutletWithCn').done(function (data) {
                $('#outlet').combobox({
                    data: data,
                    valueField: 'value',
                    textField: 'displayText'
                })
            });
            abp.services.app.type.getComboItems('TaskType').done(function (data) {
                $('#taskType').combobox({
                    data: data,
                    valueField: 'value',
                    textField: 'displayText'
                })
            });
        }

        mds.onselectfunction = function (masterRow) {
            //alert("onselect" + masterRow.routeTypeId);
            abp.services.app.type.getRouteWorkRoleItems(masterRow.routeTypeId).done(function (data) {
                $('#workRole').combobox({
                    data: data, 
                    valueField: 'id', 
                    textField: 'name'
                });    
            });
        }

        mds.customerSetAddValue = function(postfix) 
        {
            if (postfix == mds.main.postfix) {
                $('#fm'+mds.main.postfix).find('input[name="carryoutDate"]').attr('value', $('#dd').datebox('getValue'));
                $('#fm'+mds.main.postfix).find('input[name="status"]').attr('value', '安排');
            }
        }

        mds.getUrl = function(postfix, masterRow) {
            if (postfix == mds.main.postfix) 
                url = 'Routes/GridData?CarryoutDate=' + mds.today;

            var url = mds.controllerName + '/GridData' + postfix;
            if (masterRow == null)
                url += '/' + 0;          // clear datagrid!
            else
                url += '/' + masterRow.id;

            // alert(url);
            return url;
        }

        mds.beforeEdit = function (fm, postfix, row) {
            if (postfix == 'Worker') {
                abp.services.app.field.getWorkerItemsByWorkRole(row.workRoleId).done(function (data) {
                    $('#worker').combobox({ data: data, valueField: 'value', textField: 'displayText' });
                    $('#altWorker').combobox({ data: data, valueField: 'value', textField: 'displayText' });
                    setTimeout(function() {fm.form('load', row)}, 300);
                });
                return true;
            }
            return false;
        }
    </script>
}

<div class="easyui-layout" fit="true">
    <!-- BEGIN of main -->
    <div data-options="region:'north', split:true, border:false" style="min-height:120px; height:40%">
        <div id="tb">
            任务日期: <input id="dd" class="easyui-datebox" readonly="true" style="width:120px">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="mds.reload('')">刷新</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="mds.add('')">添加</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;            
            <a name="event" href="javascript:void(0)" class="easyui-linkbutton">线路事件</a>
            <a name="activate" href="javascript:void(0)" class="easyui-linkbutton">激活</a>
            <a name="back" href="javascript:void(0)" class="easyui-linkbutton">退回</a>
            <a name="close" href="javascript:void(0)" class="easyui-linkbutton">关闭</a>
            <a name="createFrom" href="javascript:void(0)" class="easyui-linkbutton">从指定日期生成</a>
            <input id="fromDate" class="easyui-datebox" style="width:120px">
            &nbsp;&nbsp;&nbsp;<a name="createFromPre" href="javascript:void(0)" class="easyui-linkbutton">从预排生成</a>
        </div>
        <table id="dg" class="easyui-datagrid" toolbar="#tb">
        </table>
    </div>
    <!-- END of main -->
    <div data-options="region:'center'">
       <div id="tt" class="easyui-tabs" data-options="fit:true, border:false">
            <div title="人员列表" style="display:none;">
                <div id="tbWorker">
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="mds.reload('Worker')">刷新</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="mds.add('Worker')">添加</a>
                </div>
                <table id="dgWorker" class="easyui-datagrid" toolbar="#tbWorker">
                </table>
            </div>
            <div title="任务列表" style="display:none;">
                <div id="tbTask">
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="mds.reload('Task')">刷新</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="mds.add('Task')">添加</a>
                </div>
                <table id="dgTask" class="easyui-datagrid" toolbar="#tbTask">
                </table>
            </div>
        </div>
    </div>
</div>

@*主弹窗*@
<div id="dlg" class="easyui-dialog" closed="true" modal="true" buttons="#dlg-buttons" style="width: 400px; padding: 10px;">
    <form id="fm" method="post" novalidate>
        <table class="edit-tbl">
            <input name="id" type="hidden">
            <input name="carryoutDate" type="hidden">
            <input name="status" type="hidden">
            <input name="createWorkerId" type="hidden">
            <input name="createTime" type="hidden">
            <tr>
                <th><Label for="routeName">线路名:</Label></th>
                <td><input name="routeName" class="easyui-textbox" style="width: 100%"></td>
            </tr>
            <tr>
                <th><Label for="routeTypeId">押运类型:</Label></th>
                <td><input id="routeType" name="routeTypeId" class="easyui-combobox" data-options="required: true" style="width:100%"></td>
            </tr>
            <tr>
                <th><Label for="vehicleId">车辆:</Label></th>
                <td><input id="vehicle" name="vehicleId" class="easyui-combobox" style="width: 100%"></td>
            </tr>
            <tr>
                <th><Label for="altVehicleId">替用车辆:</Label></th>
                <td><input id="altVehicle" name="altVehicleId" class="easyui-combobox" style="width: 100%"></td>
            </tr>
            <tr>
                <th><Label for="startTime">开始时间:</Label></th>
                <td><input name="startTime" class="easyui-timespinner" data-options="required: true" style="width:100%"></td>
            </tr>
            <tr>
                <th><Label for="endTime">结束时间:</Label></th>
                <td><input name="endTime" class="easyui-timespinner" data-options="required: true" style="width: 100%"></td>
            </tr>
             <tr>
                <th><Label for="mileage">预计里程:</Label></th>
                <td><input name="mileage" class="easyui-numberbox" data-options="precision:1" style="width: 100%"></td>
            </tr>
            <tr>
                <th><Label for="remark">备注:</Label></th>
                <td><input name="remark" class="easyui-textbox" style="width: 100%"></td>
            </tr>
        </table>
    </form>
</div>
<div id="dlg-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" onclick="mds.save('')">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="$('#dlg').dialog('close')">取消</a>
</div>

@*Worker弹窗*@
<div id="dlgWorker" class="easyui-dialog" closed="true" modal="true" buttons="#dlgWorker-buttons" align="center" style="width: 400px; padding: 10px;">
    <form id="fmWorker" method="post" novalidate>
        <table class="edit-tbl">
            <input name="id" type="hidden" >
            <input name="routeId" type="hidden">
            <tr>
                <th><Label for="workRoleId">线路角色:</Label></th>
                <td><input id="workRole" name="workRoleId" class="easyui-combobox" data-options="required: true" style="width: 200px"></td>
            </tr>
            <tr>
                <th><Label for="workerId">人员:</Label></th>
                <td><input id="worker" name="workerId" class="easyui-combobox" data-options="required: true" style="width: 100%"></td>
            </tr>
            <tr>
                <th><Label for="altWorkerId">人员:</Label></th>
                <td><input id="altWorker" name="altWorkerId" class="easyui-combobox" style="width: 100%"></td>
            </tr>
        </table>
    </form>
</div>
<div id="dlgWorker-buttons">
    <a name="save" class="easyui-linkbutton" iconCls="icon-save" onclick="mds.save('Worker')">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="$('#dlgWorker').dialog('close')">取消</a>
</div>

@*Task弹窗*@
<div id="dlgTask" class="easyui-dialog" closed="true" modal="true" buttons="#dlgTask-buttons" align="center" style="width: 400px; padding: 10px;">
    <form id="fmTask" method="post" novalidate>
        <table class="edit-tbl">
            <input name="id" type="hidden" >
            <input name="routeId" type="hidden">
            <tr>
                <th><Label for="arriveTime">预计到达时间:</Label></th>
                <td><input name="arriveTime" class="easyui-timespinner" data-options="required: true" style="width:100%"></td>
            </tr>
            <tr>
                <th><Label for="outletId">网点:</Label></th>
                <td><input id="outlet" name="outletId" class="easyui-combobox" data-options="required: true" style="width: 100%"></td>
            </tr>
            <tr>
                <th><Label for="taskTypeId">任务类型:</Label></th>
                <td><input id="taskType" name="taskTypeId" class="easyui-combobox" data-options="required: true" style="width: 100%"></td>
            <tr>
                <th><Label for="remark">备注:</Label></th>
                <td><input name="remark" class="easyui-textbox" style="width: 100%"></td>
            </tr>
        </table>
    </form>
</div>
<div id="dlgTask-buttons">
    <a name="save" class="easyui-linkbutton" iconCls="icon-save" onclick="mds.save('Task')">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="$('#dlgTask').dialog('close')">取消</a>
</div>

@*Event弹窗*@
<div id="dlgEvent" class="easyui-dialog" closed="true" modal="true" title="事件列表" align="center" style="width:900px; height:600px; padding: 10px;">
    <table id="dgEvent" class="easyui-datagrid"
            fit="true" fitColumns="true" rownumbers="true" singleSelect="true" striped="true">
        <thead>
            <tr>
                <th field="eventTime" width="80" formatter="$.datetimeFormatter">发生时间</th>
                <th field="name" width="80">名称</th>
                <th field="description" width="150">具体描述</th>
                <th field="issurer" width="120">创建者</th>
            </tr>
        </thead>
    </table>
</div>
