@section scripts
{
    <script type="text/javascript"> 
        function update() {
            var row = $('#dg').datagrid('getSelected');
            if (row == null) {
                abp.notify.error('请选择收费中调任务');
                return;
            }

            var price = $('#price').val();
            if (price == null) return;

            abp.services.app.route.updateTaskPrice(row.id, price).done(function() {
                reload();
            })
        }

        function caculate() {

        }
    </script>
}

<div class="easyui-layout" fit="true">
    <div data-options="region:'north'" style="height:70px">
        <div id="summary" class="easyui-panel" style="background:#f3eeaf;height:100%">
        </div>
    </div>
    <div data-options="region:'center', border:false">
        <div id="tb">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="$('#dg').datagrid('reload')">刷新</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;价格:
            <input id="price" class="easyui-numberbox" style="width:250px;">
            <a href="javascript:void(0)" class="easyui-linkbutton" plain="true" onclick="update()">修改价格</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="caculate()">计算价格</a>
        </div>
        <table id="dg" class="easyui-datagrid" toolbar="#tb"
                fit="true" fitColumns="true" rownumbers="true" singleSelect="true" striped="true">
            <thead>
                <tr>
                    <th field="outletCustomerName" width="80" sortable="true">大队</th>
                    <th field="outletCustomerName" width="80" sortable="true">所属</th>
                    <th field="outlet" width="160" formatter="$.outletFormatter">网点</th>
                    <th field="taskTypeName" width="70">任务类型</th>
                    <th field="arriveTime" width="70">到达时间</th>
                    <th field="identifyTime" width="70" formatter="$.timeFormatter">身份确认时间</th>
                    <th field="routeRouteName" width="100">线路名称</th>
                    <th field="remark" width="100">任务备注</th>
                    <th field="price" width="80" align="center">费用</th>
                    <th field="taskTypeBasicPrice" width="80" align="center">缺省基价</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

