<div class="easyui-layout" fit="true">
    <div data-options="region:'north'" style="heigth:70px">
        <div id="summary" class="easyui-panel" style="background:#f3eeaf;height:70px">
        </div>
    </div>
    <div data-options="region:'center', border:false">
        <table id="dg" class="easyui-datagrid" toolbar="#tb"
                fit="true" fitColumns="true" rownumbers="true" singleSelect="true" striped="true"
                url="GridDataArticle" pagination="true" pageSize="20" sortName="cn">
            <thead>
                <tr>
                    <th field="cn" width="60" align="center">编号</th>
                    <th field="name" width="100">名称</th>
                    <th field="articleTypeName" width="60">物品类型</th>
                    <th field="articleRecordInfo" width="320">领用归还信息</th>
                </tr>
            </thead>
        </table>
        <div id="tb">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="reload()">刷新</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="reportTo()">报送</a>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript"> 
        $(function() {
            sum();
        });

        function reload() {
            sum();
            $('#dg').datagrid('reload');
        }

        function sum() {
            abp.services.app.articleRecord.getReportData().done(function (as) {
                //alert(as.length);
                var h = '';
                for (var i = 0; i < as.length; i++) {
                    var t = as[i].name + "(总数：" + as[i].count + "&nbsp;&nbsp;今领：" + as[i].lendCount + "&nbsp;&nbsp;未还：" + as[i].unReturnCount + ")";
                    h += "<p class='summary'>" + t + "</p>";
                }
                summary.innerHTML = h;
            });
        }
        
        function reportTo() {
            abp.ajax({
                url: 'ReportArticleTo',
                success: function (data) {
                    abp.notify.info("报告已发出");
                }
            });
        }
    </script>
}

