@using Clc.Types
@{
    Layout = "~/Views/Shared/_CrudLayout.cshtml";
}

@section customScript
{
    <script type="text/javascript">
        crud.dgDefault.name = 'WorkRoles';
        crud.dgDefault.sortName = 'cn';
        crud.dgDefault.columns = [[
            { field: "cn", title: "编号", width: 80, sortable: true },
            { field: "name", title: "名称", width: 80, sortable: true },
            { field: "articleTypeList", title: "领用物品类型", width: 80 },
            { field: "duties", title: "职责", width: 80 },
            { field: "mustHave", title: "是否必须", width: 80},
            { field: "maxNum", title: "最多人数", width: 80},
         ]];

        function postFormatter (val) {
            return crud.getComboTextByInt('#defaultPost', val);
        }
    </script>
}

@*弹窗*@
<div id="dlg" class="easyui-dialog" closed="true" modal="true" align="center" style="width: 400px; padding: 10px;">
    <form id="fm" method="post" novalidate>
        <table class="edit-tbl">
            <input id="id" name="id" type="hidden">
            <tr>
                <th><label for="cn">编号：</label></th>
                <td><input name="cn" class="easyui-textbox" data-options="required:true, validType:'length[1, @WorkRole.MaxCnLength]'" style="width: 100%"></td>
            </tr>
            <tr>
                <th><label for="name">名称：</label></th>
                <td><input name="name" class="easyui-textbox" data-options="required:true, validType:'length[1, @WorkRole.MaxNameLength]'" style="width: 100%"></td>
            </tr>
            <tr>
                <th><label for="articleTypeList">物品类型列表：</label></th>
                <td><input name="articleTypeList" class="easyui-textbox" data-options="validType:'length[1, @WorkRole.MaxArticleTypeListLength]'" style="width: 100%"></td>
            </tr>
            <tr>
                <th><label for="duties">职责列表：</label></th>
                <td><input name="duties" class="easyui-textbox" data-options="validType:'length[2, @WorkRole.MaxDutiesLength]'" style="width: 100%"></td>
            </tr>
            <tr>
                <th><label for="mustHave">是否必须: </label></th>
                <td><input name="mustHave" class="easyui-switchbutton" data-options="height:24,onText:'是',offText:'否'">
                </td>
            </tr>
            <tr>
                <th><label for="maxNum">最多人数：</label></th>
                <td><input name="maxNum" class="easyui-numberbox" style="width: 100%"></td>
            </tr>
        </table>
    </form>
</div>
